#loading {
	position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 2;
}


#loadinganimation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 100px;
  }
  .loading {
	margin: 200px auto;
	text-align: center;
	height: 100px;
  }
  .line {
	text-align: center;
	position: relative;
	display: inline-block;
	height: 0px;
	width: 0px;
	animation: loading 0.6s infinite ease-in-out;
	vertical-align: middle;
	background-color: rgb(0, 218, 116);
	margin-left: 15px;
  }


  @keyframes loading {
	0% {
	  height: 50px;
	  width: 5px;
	  background-color: rgb(0, 218, 116);
	}
	50% {
	  height: 100px;
	  background-color: rgb(251, 255, 0);
	}
	100% {
	  height: 50px;
	  width: 5px;
	  background-color: rgb(0, 218, 116);
	}
  }


  .line1 {
	animation-delay: 0s;
  }

  .line2 {
	animation-delay: 0.05s;
  }
  .line3 {
	animation-delay: 0.1s;
  }
  .line4 {
	animation-delay: 0.15s;
  }
  .line5 {
	animation-delay: 0.2s;
  }
  .line6 {
	animation-delay: 0.25s;
  }
  .line7 {
	animation-delay: 0.3s;
  }
  .line8 {
	animation-delay: 0.35s;
  }
  .line9 {
	animation-delay: 0.4s;
  }
  .line10 {
	animation-delay: 0.45s;
  }
  .line11 {
	animation-delay: 0.5s;
  }
  .line12 {
	animation-delay: 0.55s;
  }